body {
  box-sizing: border-box;
  font-family: "MontSerrat";
  margin: 0;
}

main{
  margin: 30px 15%;
}

@media only screen and (max-width: 1600px) {
  main {
      margin: 30px 10%;
  }
}

@media only screen and (max-width: 1280px) {
  main {
      margin: 30px 5%;
  }
}

a{
  text-decoration: none;
  color: #FF6060;
}